@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

:root {
    --background: #ECF7F3;
    --green: #48B774;
    --accent: #FF8345;
    --title: #2D2D2D;
    --nav: #4A4A4A;
    --text: #7C7C7C;
    --searchbar: #A1A1A1;
    background-color: var(--background);
    font-family: 'Poppins', sans-serif;
}

html, body, .wrapper {
    height: 100%;
    margin: 0;
}

button {
    cursor: pointer;
}

body, .header__nav-list{
    padding: 0;
    margin: 0;
}

.header {
    display: flex;
}

.header__inner {
    display: flex;
    width: 100%;
    min-height: 60px;
    align-items: center;
    justify-content: space-between;
    padding: 0px 10px;
}

.header__nav {
    width: 365px;
    height: 24px;
}

.header__nav-list {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 400;
    color: var(--nav);
}

.header__nav-list-item a {
    color: var(--nav);
    text-decoration: none;
    position: relative;
}

.header__nav-list-item a:after {    
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: var(--accent);
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
  }

  .header__nav-list-item a:hover:after { 
    width: 100%; 
    left: 0; 
  }

.header__signup-button {
    border: 0;
    border-radius: 20px;
    background: var(--green);
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    color: white;
    padding: 9px 23px;
}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.content {
    display: flex;
    padding: 0px 10px;
    justify-content: center;
    margin-top: 60px;
}

.content__left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.content__title {
    font-size: 3rem;
    font-weight: 700;
    color: var(--title);
    white-space: pre-line;
}

.accent {
    color: var(--accent);
}

.content__subtitle {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    color: var(--text);
    font-weight: 500;
    overflow: hidden;
    text-overflow: ellipsis;
}

.content__title,
.content__subtitle {
    max-width: 600px;
    margin: 0;
}

.content__button {
    height: 46px;
    max-width: 128px;
    padding: 8px 22px;
    background: var(--green);
    border: 0;
    border-radius: 30px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    color: white;
    margin: 30px 0px 50px 0px;
}

.search-bar {
    border-radius: 100px;
    background: white;
    box-shadow: 0px 20px 30px 0px rgba(222, 222, 222, 0.25);
    padding: 20px 12px 20px 40px;
    max-width: 600px;
    height: 62px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
}

.search-bar__input {
    border: 0;
    outline: 0;
    flex: 1;
    font-family: 'Roboto';
    font-size: 16px;
    color: var(--searchbar);
}

.search-bar__submit {
    justify-self: right;
    border: 0;
    background-color: transparent;
    height: 55px;
    width: 55px;
    cursor: pointer;
}

.content__right {
    width: 600px;
    max-height: 600px;
    display: flex;
    justify-content: center;
}

.content__animation {
    position: relative;
}

.content__animation img {
    width: auto;
    height: 100%;
    object-fit: scale-down;
}

.content__animation svg{
    height: 600px;
    width: 600px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-49%,-65%);
    z-index: -1;
}


/* animation */

@keyframes go_to_orbit1 {
    0% {
        opacity: 0;
        transform: translate(27%, -26%);
    }
    100% {
        opacity: 1;
        transform: translate(0, 0);
    }
    
}

@keyframes go_to_orbit2 {
    0% {
        opacity: 0;
        transform: translate(37.5%, 0%);
    }
    100% {
        opacity: 1;
        transform: translate(0, 0);
    }
    
}

@keyframes go_to_orbit3 {

    0% {
        opacity: 0;
        transform: translate(0%, 37.5%);
    }
    100% {
        opacity: 1;
        transform: translate(0, 0);
    }
    
}

@keyframes go_to_orbit4 {

    0% {
        opacity: 0;
        transform: translate(-37.5%, 0%);
    }
    100% {
        opacity: 1;
        transform: translate(0, 0);
    }
    
}

@keyframes go_to_orbit5 {

    0% {
        opacity: 0;
        transform: translate(-37.5%, 0%);
    }
    100% {
        opacity: 1;
        transform: translate(0, 0);
    }
    
}

@keyframes orbit {
    0%{
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg); 
    } 
}

#flag1 {
    animation: go_to_orbit1, orbit;
}
#flag2 {
    animation: go_to_orbit2, orbit;
}
#flag3 {
    animation: go_to_orbit3, orbit;
}
#flag4 {
    animation: go_to_orbit4, orbit;
}
#flag5 {
    animation: go_to_orbit5, orbit;
}

#flags g{
    opacity: 0;
    transform-origin: center;
    animation-delay: calc(2.6s + var(--order)*0.4s), 5s;
    animation-duration: 0.4s, 20s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
    animation-iteration-count: 1, infinite;
}

.content__bottom {
    display: flex;
    align-items: center;
    margin: 40px 0px;
}

.hamburger {
    display: none;
    cursor: pointer;
}

.bar{
    display: block;
    background-color: var(--green);
    width: 25px;
    height: 3px;
    margin: 5px 12px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

@media (min-width: 768px) and (max-width: 1199px) and (orientation: landscape){
    .wrapper{
        max-width: 800px;
    }

    .content__right{
        max-width: 400px;
    }
    .content__right svg{
        transform: translate(-49%,-60%) scale(70%) ;
    }

    .content__right img {
        transform: scale(70%);
    }
}

@media (orientation: portrait) or (max-width: 767px){

    .hamburger{
        display: block;
    }

    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }

    .header__nav{
        position: absolute;
        z-index: 120;
        left: -100%;
        top: 60px;
        width: 100%;
        text-align: center;
        transition: 0.3s;
    }

    .header__nav-list{
        flex-direction: column;
        justify-content: center;
        gap: 40px;
        background-color: var(--background);
        height: 100vh;
    }

    .header__nav.active{
        left: 0;
    }

    .content {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .content__animation{
        margin-top: 48px;
        height: 500px;
    }

    .content__right{
        max-width: 300px;
    }

    .content__right svg{
        transform: translate(-49%,-65%) scale(65%) ;
    }
}